<!--

<!doctype html>

		<html xmlns="http://www.w3.org/1999/xhtml">
<head>

		
	<title>Employe Dashboard</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	
	<link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.min.css">
 
  <link rel="stylesheet" href="/assets/vendor/linearicons/style.css">
	<link rel="stylesheet" href="/assets/vendor/chartist/css/chartist-custom.css">
	
	<link rel="stylesheet" href="/assets/css/main.css">
	
	<link rel="stylesheet" href="/assets/css/demo.css">
	
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon.png">
</head>
	<style>
		.navbar-default .brand {
    float: left;
    padding: 24px 35px;
    background-color: #fff;
}

.col-md-3	{
	margin-right: 5%;
}


.card {
    position:absolute;
    width:300px;
    min-height:350px;
    background:#fff;
    box-shadow:0 20px 50px rgba(0,0,0,.1);
    border-radius:10px;
    transition:0.5s;
}
.card:hover {
    box-shadow:0 30px 70px rgba(0,0,0,.2);
}
.card .box {
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    width:100%;
}
.card .box .img {
    width:120px;
    height:120px;
    margin:0 auto;
    border-radius:50%;
    overflow:hidden;
}
.card .box .img img {
    width:100%;
    height:100%;
}
.card .box h2 {
    font-size:20px;
    color:#262626;
    margin:20px auto;
}
.card .box h2 span {
    font-size:14px;
    background:#e91e63;
    color:#fff;
    display:inline-block;
    padding:4px 10px;
    border-radius:15px;
}
.card .box p {
    color:#262626;
}
.card .box span {
    display:inline-flex;
}
.card .box ul {
    margin:0;
    padding:0;
}
.card .box ul li {
    list-style:none;
    float:left;
}
.card .box ul li a {
    display:block;
    color:#aaa;
    margin:0 10px;
    font-size:20px;
    transition:0.5s;
    text-align:center;
}
.card .box ul li:hover a {
    color:#e91e63;
    transform:rotateY(360deg);
}
#img-adjust{
  margin-right:-100px;
}

	</style>

    <body>
	
	<div id="wrapper">
		
    <nav class="navbar navbar-default navbar-fixed-top">
	
			<div class="container-fluid">
				
				<form class="navbar-form navbar-left">
					<div class="input-group">
						<input type="text" value="" class="form-control" placeholder="Search dashboard...">
						<span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
					</div>
				</form>
		
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
					
						</li>
				
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="assets/img/user.png" class="img-circle" alt="Avatar"> <span>Samuel</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
								<li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
								<li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
								<li><a href="#"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
							</ul>
						</li>
					
					</ul>
				</div>
			</div>
		</nav>
		
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="index.html" class="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
						<li><a  [routerLink]="['/editprofile']">  <i class="lnr lnr-code"></i><span> Edit profile  </span>  </a></li>
						<li><a  [routerLink]="['/manageleaves']">  <i class="lnr lnr-code"></i><span> Apply For Leaves  </span>     </a></li>
						<li><a href="#" class=""><i class="lnr lnr-code"></i> <span>Send Messages</span></a></li>
						<li><a href="#" class=""><i class="lnr lnr-code"></i> <span>View  Events</span></a></li>
						<li><a href="#" class=""><i class="lnr lnr-code"></i> <span>View  Holidays</span></a></li>
						<li><a href="#" class=""><i class="lnr lnr-code"></i> <span>View Meeting Calendar</span></a></li>

						<li><a href="notifications.html" class=""><i class="lnr lnr-alarm"></i> <span>Notifications</span></a></li>
						<li><a (click)="onLogoutClick()" href="#">LogOut</a></li>
						<li>

							<div id="subPages" class="collapse ">
								<ul class="nav">
									<li><a href="page-profile.html" class="">Profile</a></li>
									<li><a href="page-login.html" class="">Login</a></li>
									<li><a href="page-lockscreen.html" class="">Lockscreen</a></li>
								</ul>
							</div>
						</li>
					
					</ul>
				</nav>
			</div>
		</div>
	
		<div class="main">
			<div class="main-content">
				<div class="container-fluid">
					<div class="col-md-3">
						<div class="box">
						</div>
					</div>
					<div class="col-md-3">
				
					</div>
					<div class="col-md-3">
					

					</div>
					
				</div>
		
		</div>
	
		<div class="clearfix"></div>
		<footer>
		
		</footer>
	</div>
	
	<script src="/assets/vendor/jquery/jquery.min.js"></script>
	<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="/assets/vendor/chartist/js/chartist.min.js"></script>
	<script src="/assets/scripts/klorofil-common.js"></script>
	<script>
		
	$(function() {
		var data, options;

	
		data = {
			labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
			series: [
				[23, 29, 24, 40, 25, 24, 35],
				[14, 25, 18, 34, 29, 38, 44],
			]
		};

		options = {
			height: 300,
			showArea: true,
			showLine: false,
			showPoint: false,
			fullWidth: true,
			axisX: {
				showGrid: false
			},
			lineSmooth: false,
		};

		new Chartist.Line('#headline-chart', data, options);


		
		data = {
			labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
			series: [{
				name: 'series-real',
				data: [200, 380, 350, 320, 410, 450, 570, 400, 555, 620, 750, 900],
			}, {
				name: 'series-projection',
				data: [240, 350, 360, 380, 400, 450, 480, 523, 555, 600, 700, 800],
			}]
		};

		options = {
			fullWidth: true,
			lineSmooth: false,
			height: "270px",
			low: 0,
			high: 'auto',
			series: {
				'series-projection': {
					showArea: true,
					showPoint: false,
					showLine: false
				},
			},
			axisX: {
				showGrid: false,

			},
			axisY: {
				showGrid: false,
				onlyInteger: true,
				offset: 0,
			},
			chartPadding: {
				left: 20,
				right: 20
			}
		};

		new Chartist.Line('#visits-trends-chart', data, options);


	
		data = {
			labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
			series: [
				[6384, 6342, 5437, 2764, 3958, 5068, 7654]
			]
		};

		options = {
			height: 300,
			axisX: {
				showGrid: false
			},
		};

		new Chartist.Bar('#visits-chart', data, options);


		
		var sysLoad = $('#system-load').easyPieChart({
			size: 130,
			barColor: function(percent) {
				return "rgb(" + Math.round(200 * percent / 100) + ", " + Math.round(200 * (1.1 - percent / 100)) + ", 0)";
			},
			trackColor: 'rgba(245, 245, 245, 0.8)',
			scaleColor: false,
			lineWidth: 5,
			lineCap: "square",
			animate: 800
		});

		var updateInterval = 3000; 

		setInterval(function() {
			var randomVal;
			randomVal = getRandomInt(0, 100);

			sysLoad.data('easyPieChart').update(randomVal);
			sysLoad.find('.percent').text(randomVal);
		}, updateInterval);

		function getRandomInt(min, max) {
			return Math.floor(Math.random() * (max - min + 1)) + min;
		}

	});
		
		
	</script>
</body>

</html>
-->

<!doctype html>
<html lang="en">

<head>
	<title>Employe Dashboard</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
  <!--<link rel="stylesheet" href="assets/vendor/linearicons/style.css">-->
  <link rel="stylesheet" href="/assets/vendor/linearicons/style.css">
	<link rel="stylesheet" href="/assets/vendor/chartist/css/chartist-custom.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="/assets/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="/assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon.png">
</head>

<body>
    
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
		<!--	<div class="brand">
				<a href="index.html"><img src="assets/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>
			</div>-->
			<div class="container-fluid">
				<div class="navbar-btn" style="    margin-left: -170px;">
						<img src="/assets/abc/img/logo-dark.png" style="width:125px;">
				</div>
				<form class="navbar-form navbar-left">
					<div class="input-group">						
						<input type="text" value="" class="form-control" placeholder="Search dashboard...">
						<span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
					</div>
				</form>
				<div id="navbar-menu" style="text-align:right;">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/assets/abc/img/dummy-profile-pic-300x300.jpg" class="img-circle" alt="Avatar"> <span>My Profile</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
								<li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
								<li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
								<li><a href="#"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="index.html" class="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>

						<li><a  [routerLink]="['/editprofile']">  <i class="lnr lnr-code"></i><span> Edit Profile  </span></a></li>
						<li><a  [routerLink]="['/manageleaves']">  <i class="lnr lnr-code"></i><span> Apply For Leaves  </span></a></li>
						<li><a href="#" class=""><i class="lnr lnr-code"></i> <span>Send Messages</span></a></li>
						<li><a  [routerLink]="['/resetpassword']">  <i class="lnr lnr-code"></i><span> Reset Password </span>     </a></li>
						<li><a  [routerLink]="['/viewholidays']">  <i class="lnr lnr-code"></i><span> View Holidays </span>     </a></li>
						<li><a  [routerLink]="['/viewevents']">  <i class="lnr lnr-code"></i><span> View Events </span>     </a></li>
						<li><a href="#" class=""><i class="lnr lnr-code"></i> <span>View Meeting Calendar</span></a></li>
						<!--<li><a href="charts.html" class=""><i class="lnr lnr-chart-bars"></i> <span>HR Profile</span></a></li>-->
						<!--<li><a href="panels.html" class=""><i class="lnr lnr-cog"></i> <span>Empty</span></a></li>-->
						<li><a href="notifications.html" class=""><i class="lnr lnr-alarm"></i> <span>Notifications</span></a></li>
						<li><a (click)="onLogoutClick()" href="#">LogOut</a></li>
						<li>
							<!--<a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Empty</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>-->
							<div id="subPages" class="collapse ">
								<ul class="nav">
									<li><a href="page-profile.html" class="">Profile</a></li>
									<li><a href="page-login.html" class="">Login</a></li>
									<li><a href="page-lockscreen.html" class="">Lockscreen</a></li>
								</ul>
							</div>
						</li>
						<!-- <li><a href="tables.html" class=""><i class="lnr lnr-dice"></i> <span>Tables</span></a></li> -->
						<!--<li><a href="typography.html" class=""><i class="lnr lnr-text-format"></i> <span>Typography</span></a></li>
						<li><a href="icons.html" class=""><i class="lnr lnr-linearicons"></i> <span>Icons</span></a></li>-->
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<div class="col-md-4">
						<div class="demo-card-event mdl-card mdl-shadow--2dp">
							<div class="mdl-card__title mdl-card--expand">
								<h4><a>5</a><br>Employees</h4></div>
							<div class="mdl-card__actions upper ">
								<a class="mdl-button1 mdl-button--colored mdl-js-button mdl-js-ripple-effect">
									Active<a>4</a>
									</a>
								<a class="mdl-button1 mdl-button--colored mdl-js-button mdl-js-ripple-effect" >
									Inactive<a>1</a>
									</a>									
							</div>
							</div>	  
					</div>
					<div class="col-md-4">
						<div class="demo-card-event mdl-card mdl-shadow--2dp">
							<div class="mdl-card__title mdl-card--expand">
								<h4><a>5</a><br>Departments</h4></div>
								<div class="mdl-card__actions upper">
									<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
									View All
									</a>									
								</div>
							</div>	  
					</div>
					<div class="col-md-4">
						<div class="demo-card-event mdl-card mdl-shadow--2dp">
							<div class="mdl-card__title mdl-card--expand">
									<!--<li><a  [routerLink]="['/manageemployees']">  <i class="lnr lnr-code"></i><span> Manage Employees  </span></a></li>-->
								<h4><a>2</a><br>Leaves Summary</h4></div>
								<div class="mdl-card__actions upper">
									<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" [routerLink]="['/manageleaves']">
									View All
									</a>									
								</div>
							</div>
					</div>
				</div>
					<div class="row2">
						<h5>Latest Announcement</h5>
						<h6>What is Lorem Ipsum?</h6>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
						<h6>What is Lorem Ipsum?</h6>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
						<h6>What is Lorem Ipsum?</h6>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
					</div>
					<div class="col-md-12">
						<div class="col-md-6 col-sm-12 birthday-bash">														
									<h6>Birthday Buddies</h6>							
							<div class="pull-left">
								<a class="mdl-button1 mdl-button--colored mdl-js-button mdl-js-ripple-effect">
									Prashant
								</a>
							</div>
							<div class="pull-right">
								<a class="mdl-button1 mdl-button--colored mdl-js-button mdl-js-ripple-effect">
									View All
								</a>
							</div>															
						</div>
						<div class="col-md-6 col-sm-12 interviwe-seh">
							<h6>Interview Scheduled</h6>
							<div class="pull-left">
								<p>No of condaidate</p>
							</div>
							<div class="pull-right">
								<p>Date</p>
							</div>						
						</div>
					</div>
				
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		
		
		<footer>
			<div class="container-fluid">
				<p class="copyright">&copy; 2016 <a href="#" target="_blank">TechBrise</a>. All Rights Reserved.</p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="/assets/vendor/jquery/jquery.min.js"></script>
	<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="/assets/vendor/chartist/js/chartist.min.js"></script>
	<script src="/assets/scripts/klorofil-common.js"></script>
	<script>
	$(function() {
		var data, options;

		// headline charts
		data = {
			labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
			series: [
				[23, 29, 24, 40, 25, 24, 35],
				[14, 25, 18, 34, 29, 38, 44],
			]
		};

		options = {
			height: 300,
			showArea: true,
			showLine: false,
			showPoint: false,
			fullWidth: true,
			axisX: {
				showGrid: false
			},
			lineSmooth: false,
		};

		new Chartist.Line('#headline-chart', data, options);


		// visits trend charts
		data = {
			labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
			series: [{
				name: 'series-real',
				data: [200, 380, 350, 320, 410, 450, 570, 400, 555, 620, 750, 900],
			}, {
				name: 'series-projection',
				data: [240, 350, 360, 380, 400, 450, 480, 523, 555, 600, 700, 800],
			}]
		};

		options = {
			fullWidth: true,
			lineSmooth: false,
			height: "270px",
			low: 0,
			high: 'auto',
			series: {
				'series-projection': {
					showArea: true,
					showPoint: false,
					showLine: false
				},
			},
			axisX: {
				showGrid: false,

			},
			axisY: {
				showGrid: false,
				onlyInteger: true,
				offset: 0,
			},
			chartPadding: {
				left: 20,
				right: 20
			}
		};

		new Chartist.Line('#visits-trends-chart', data, options);


		// visits chart
		data = {
			labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
			series: [
				[6384, 6342, 5437, 2764, 3958, 5068, 7654]
			]
		};

		options = {
			height: 300,
			axisX: {
				showGrid: false
			},
		};

		new Chartist.Bar('#visits-chart', data, options);


		// real-time pie chart
		var sysLoad = $('#system-load').easyPieChart({
			size: 130,
			barColor: function(percent) {
				return "rgb(" + Math.round(200 * percent / 100) + ", " + Math.round(200 * (1.1 - percent / 100)) + ", 0)";
			},
			trackColor: 'rgba(245, 245, 245, 0.8)',
			scaleColor: false,
			lineWidth: 5,
			lineCap: "square",
			animate: 800
		});

		var updateInterval = 3000; // in milliseconds

		setInterval(function() {
			var randomVal;
			randomVal = getRandomInt(0, 100);

			sysLoad.data('easyPieChart').update(randomVal);
			sysLoad.find('.percent').text(randomVal);
		}, updateInterval);

		function getRandomInt(min, max) {
			return Math.floor(Math.random() * (max - min + 1)) + min;
		}

	});
	</script>
</body>

</html>