.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.ele1   {
    background-color: #33a2ff54;
    width: 500px;
    margin: 15px;
    text-align: center;
    height: 200px;
    font-size: 26px;
    border-radius: 5px;
    box-shadow: 0 8px 6px -6px black;
}

.ele2   {
    background-color: #ff334654;
    width: 500px;
    margin: 15px;
    text-align: center;
    height: 200px;
    font-size: 26px;
    border-radius: 5px;
    box-shadow: 0 8px 6px -6px black;
}

.ele3   {
    background-color: #ff883354 ;
    width: 500px;
    height: 200px;
    margin: 15px;
    text-align: center;
    font-size: 26px;
    border-radius: 5px;
    box-shadow: 0 8px 6px -6px black;
}

.ele4   {
    background-color: #61da9994;
    width: 500px;
    height: 200px;
    margin: 15px;
    text-align: center;
    font-size: 26px;
    border-radius: 5px;
    box-shadow: 0 8px 6px -6px black;
}

.ele5   {
    background-color: #33a2ff54;
    width: 500px;
    height: 200px;
    margin: 15px;
    text-align: center;
    font-size: 26px;
    border-radius: 5px;
    box-shadow: 0 8px 6px -6px black;
}

.ele6   {
    background-color: #ff334654 ;
    width: 500px;
    height: 200px;
    margin: 15px;
    text-align: center;
    font-size: 26px;
    border-radius: 5px;
    box-shadow: 0 8px 6px -6px black;
}

.ele7   {
    background-color: #ff883354;
    width: 500px;
    height: 200px;
    margin: 15px;
    text-align: center;
    font-size: 26px;
    border-radius: 5px; 
    box-shadow: 0 8px 6px -6px black;
}

.ele8   {
    background-color: #61da9994;
    width: 500px;
    height: 200px;
    margin: 15px;
    text-align: center;
    font-size: 26px;
    border-radius: 5px;
    left: 22px;
    position: relative;
    box-shadow: 0 8px 6px -6px black;
}

div#active-side {
    background-color: #0000001f;
    margin-left: 15px;
    border-radius: 3px;
    margin-top: 25px;
    color: #fff;
    height: 46px;
    font-size: 18px;
    font-weight: 500;
}

div#inactive-side {
    background-color: #0000001f;
    margin-left: 15px;
    border-radius: 3px;
    margin-top: 25px;
    color: #fff;
    height: 46px;
    font-size: 18px;
    font-weight: 500; 
}

#span-side  {
    position: relative;
    top: -10px;
}

div#view-all {
    margin-top: 0px;
}

.Emp-heading    {
    color: #333;
    font-size: 20px;
}

button.btn.btn-succes {
    color: #292929;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 8px 25px;
    background-color: #fff;
    border-color: #fff;
}

div#pending-leaves {
    background-color: #0000001f;
    margin-left: 35px;
    border-radius: 3px;
    margin-top: 25px;
    color: #333;
    font-weight: 500;
    height: 46px;
    font-size: 18px;
}

div#month-name {
    background-color: #fff;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
    color: #333;
}

div#view-all-sal {
    margin-top: 10px;
}

div#admin-dash {
    width: 100% !important;
    left: 135px !important;
}

div#view-all-me {
    position: relative;
    top: 10px;
}

div#view-all-hd {
    position: relative;
    top: 40px;
}

div#view-all-ub {
    position: relative;
    top: 0px;
}

div#upcom-bday {
    margin-top: 10px;
    font-size: 18px;
    background-color: #0000001f;
    left: 40px;
}

i.fa.fa-birthday-cake {
    color: #622929;
}

div#upcom-bday {
    color: #fff;
    font-weight: 500;
    border-radius: 2px;
}

.col-md-12.col-md-offset-1 {
    left: 30px;
    top: 50px;
}
.avatar {
    position: relative;
    width: 120px;
    height: 120px;
  }
  .avatar-line {
    border-radius: 50%;
    transition: transform 1s ease-out;
  }

  .avatar-pic {
    position: absolute;
    z-index: 1;
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  div#wrapper {
    position: relative;
    left: 50px;
}

.o-t1   {
    background-color: #33a2ff54;
    padding: 30px 0 40px;
    margin-bottom: 30px;
    text-align: center;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
}

.o-t2   {
    background-color: #ff334654;
    padding: 30px 0 40px;
    margin-bottom: 30px;
    text-align: center;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
}

.o-t3   {
    background-color: #ff883354;
    padding: 30px 0 40px;
    margin-bottom: 30px;
    text-align: center;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
}

.o-t4   {
    background-color: #61da9994;
    padding: 30px 0 40px;
    margin-bottom: 30px;
    text-align: center;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
}

.o-t5   {
    background-color: #61da9994;
    padding: 30px 0 40px;
    margin-bottom: 30px;
    text-align: center;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
}

.o-t6   {
    background-color: #ff883354;
    padding: 30px 0 40px;
    margin-bottom: 30px;
    text-align: center;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
}

.o-t7   {
    background-color: #ff334654;
    padding: 30px 0 40px;
    margin-bottom: 30px;
    text-align: center;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
}

.o-t8   {
    background-color: #33a2ff54;
    padding: 30px 0 40px;
    margin-bottom: 30px;
    text-align: center;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
}
  
.our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }
  
.our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.o-t2 .picture::before {
    background-color: #ff3346d4;
}

.o-t3 .picture::before {
    background-color: #da7934d9;
}

.o-t4 .picture::before {
    background-color: #3ea06bf2;
}

.o-t5 .picture::before {
    background-color: #3ea06bf2;
}
.o-t6 .picture::before {
    background-color: #da7934d9;
}
.o-t7 .picture::before {
    background-color: #ff3346d4;
}

.our-team:hover .picture::before {
    height: 100%;
}
  
.our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.o-t2 .picture::after {
    background-color: #ff3346d4;
}

.o-t3 .picture::after {
    background-color: #da7934d9;
}

.o-t4 .picture::after {
    background-color: #3ea06bf2;
}

.o-t5 .picture::after {
    background-color: #3ea06bf2;
}
.o-t6 .picture::after {
    background-color: #da7934d9;
}
.o-t7 .picture::after {
    background-color: #ff3346d4;
}
  
.our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}
  
.our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}
  
.our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
}
  
.our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #1369ce;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}

.o-t2 .social {
    background-color: #ff3346d4;
}

.o-t3 .social {
    background-color: #da7934d9;
}

.o-t4 .social {
    background-color: #3ea06bf2;
}

.o-t5 .social {
    background-color: #3ea06bf2;
}
.o-t6 .social {
    background-color: #da7934d9;
}
.o-t7 .social {
    background-color: #ff3346d4;
}
  
.our-team:hover .social {
    bottom: 0;
}
  
.our-team .social li {
    display: inline-block;
}
  
.our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
  
.our-team .social li a:hover {
    color: #1369ce;
    background-color: #f7f5ec;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid;
    border-top: 1px solid #eee;
}  

.ad-dash-head   {
    position: relative;
    left: 26px;
}