<app-main-dashboard></app-main-dashboard>
<!-- MAIN -->
<div class="col-md-12 col-md-offset-1 ">	
		<div class="flex-container">
			<div class="ele1">
				<a  [routerLink]="['/manageemployees']">
					<div><span class="Emp-heading">5 Employees</span></div>
					<div class="col-sm-4" id="active-side">
						<span>4</span> <br><span id="span-side">Active</span>
					</div>
					<div class="col-sm-6" id="inactive-side">
							<span>4</span> <br><span id="span-side">Inactive</span>
					</div>
					<div class="col-sm-12" id="view-all">
						<button type="button" class="btn btn-succes">View All</button>
					</div>
				</a>
			</div>
			<div class="ele2">
				<a  [routerLink]="['/manageemployees']">
					<div><span class="Emp-heading">Attendance Report</span></div>
					<div>
						<img src="/assets/images/attendance.png" style="height: 100px; margin-top: 10px;">
					</div>
					<div class="col-sm-12" id="view-all-Att">
						<button type="button" class="btn btn-succes">View All</button>
					</div>
				</a>
			</div>
			<div class="ele3">
				<a  [routerLink]="['/managerleave']">						
					<div><span class="Emp-heading">Leave Report</span></div>
					<div class="col-sm-4" id="active-side">
						<span>4</span> <br><span id="span-side">Accept</span>
					</div>
					<div class="col-sm-6" id="inactive-side">
							<span>1</span> <br><span id="span-side">Rejected</span>
					</div>
					<div class="col-sm-12" id="view-all">
						<button type="button" class="btn btn-succes ">View All</button>
					</div>
				</a>
			</div>
		</div>
		<div class="flex-container">
			<div class="ele4">
				<div><span class="Emp-heading">Salary Report</span></div>
				<div>
					<img src="/assets/images/calendar (1).png" style="height:100px; margin-top: 10px;">
				</div>
				<div class="col-sm-12" id="view-all-sal">
					<button type="button" class="btn btn-succes">View All</button>
				</div>
			</div>
			<div class="ele5">
				<a  [routerLink]="['/holidays']">
					<div><span class="Emp-heading">Holiday's <span style="color:chocolate;">Nov</span></span></div>
					<div class="col-md-10" id="upcom-bday">
						<div class="col-md-2"><i class="fa fa-calendar"></i></div>
						<div class="col-md-8">Diwali</div>
						<div class="col-md-2">7th </div>
					</div>
					<div class="col-md-10" id="upcom-bday">
						<div class="col-md-2"><i class="fa fa-calendar"></i></div>
						<div class="col-md-8">Guru Nanak</div>
						<div class="col-md-2">7th </div>
					</div>
					<div class="col-sm-12" id="view-all-hd">
						<button type="button" class="btn btn-succes">Add Holidays</button>
					</div>
				</a>
			</div>
			<div class="ele6">
				
					<div><span class="Emp-heading">Manage Events</span></div>
				
				<div>
					<img src="/assets/images/calendar.png" style="height: 100px; margin-top: 10px;">
				</div>
				<div class="col-sm-12" id="view-all-me">
						<a  [routerLink]="['/manageevents']">
					<button type="button" class="btn btn-succes">Add Events</button>
				</a>
				</div>
			</div>					
		</div>
		<div class="flex-container">					
			<div class="ele7">
				<a  [routerLink]="['/pendingleaves']">
					<div><span class="Emp-heading">Pending Leaves</span></div>
					<div class="col-sm-10" id="pending-leaves">
							<span>4</span> <br><span id="span-side">Pending</span>
					</div>
					<div class="col-sm-12" id="view-all">
						<button type="button" class="btn btn-succes">View All</button>
					</div>
				</a>
			</div>
			<div class="ele8">
				<div><span class="Emp-heading">Upcoming Birthday</span></div>
				<div class="col-md-10" id="upcom-bday">
					<div class="col-md-2"><i class="fa fa-birthday-cake" aria-hidden="true"></i></div>
					<div class="col-md-6">Ashish</div>
					<div class="col-md-4">9 Dec</div>
				</div>
				<div class="col-md-10" id="upcom-bday">
					<div class="col-md-2"><i class="fa fa-birthday-cake" aria-hidden="true"></i></div>
					<div class="col-md-6">Prahant</div>
					<div class="col-md-4">23 May</div>
				</div>
				<div class="col-md-10" id="upcom-bday">
					<div>No Birthday this month</div>
				</div>
				<div class="col-sm-12" id="view-all-ub">
					<button type="button" class="btn btn-succes">View All</button>
				</div>
			</div>
		</div>

	</div>
	<!-- END MAIN -->