<!--<h2 class="page header">Login</h2>
<form (submit)="onLoginSubmit()">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" [(ngModel)]="username" name="username">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" [(ngModel)]="password" name="password">
      </div>
      <input type="submit" class="btn btn-primary" value="Login" >
      </form>
    -->

<!--
    <li class="nav-item " >
      <a class="nav-link" (click)="onLogoutClick()" href="#" >LogOut<span class="sr-only">(current)</span></a>
    </li>
  -->
<div class="cont">  
  <div class="form">
    <form (submit)="onLoginSubmit()">
      <img class="log_img" src="/assets/images/logo-dark (1).png" alt="oops">
      <h1 >TechBrise- Login</h1>
      <div class="form-group">
      <input type="text"
             class="user"
             [(ngModel)]="username"
             name="username"
             placeholder="Username"/>
             </div>
             <div class="form-group">
      <input type="password" 
             class="pass"
             [(ngModel)]="password"
             name="password"
             placeholder="Password"/>
             </div>
     <input type="submit" class="login" value="Login">
     <a class="register" [routerLink]="['/register']"><u>Register</u></a>
  </form>
  </div>  
</div>