.sidebar .nav > li > a:hover i, .sidebar .nav > li > a:focus i, .sidebar .nav > li > a.active i {
    color: #eb8024;
}
.sidebar .nav > li > a:focus, .sidebar .nav > li:hover {
    border-top: 1px solid #fff;
    box-shadow: 0 15px 8px -9px rgba(0,0,0,.25);
}
.nav>li {
    position: relative;
    display: block;
    width: 260px;
}
.sidebar .nav > li > a:focus, .sidebar .nav > li > a.active {
    border-left-color: #eb8024;
}
.navbar-default .brand {
    float: left;
    padding: 24px 35px;
    background-color: #fff;
}

.navbar-default .brand {
    float: left;
    padding: 24px 35px;
    background-color: #fff;
}
.navbar-btn {
    float: left;
    padding: 0px;
}

dropdown:hover .dropdown-menu   {
    display: block;
}

.nav li:hover i {
    color: #fff !important;
}

.col-md-3	{
	margin-right: 5%;
}
.logout {
    background: url(https://dh3vbjnk0bnfa.cloudfront.net/static/centralauth/images/btn-login-hover.png) no-repeat 5px 5px #484B4F;
    width: 100px;
    cursor: pointer;
    border-radius: 2px;
    padding: 5px 0px 7px 0;
    color: #fff;
    border: none;
    background-color: #eb8024;
    font-size: 15px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
}

#wrapper #sidebar-nav, #wrappe .main {
    padding-top: 66px;
}
   
nav.navbar.navbar-default.navbar-fixed-top {
    border: 1px solid #777;
    height: 65px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
  
  }

.ele1{
    background-color: #33a2ff54;
    width: 500px;
    margin: 15px;
    text-align: center;
    height: 200px;
    font-size: 26px;
    border-radius: 5px;
    /*box-shadow: 5px 10px #888888;*/
    
  }
  .ele2{
    background-color: #ff334654;
    width: 500px;
    margin: 15px;
    text-align: center;
    height: 200px;
    font-size: 26px;
    border-radius: 5px;
    /*box-shadow: 5px 10px #888888;*/
  
  }

  .ele3{
    background-color: #ff883354 ;
    width: 500px;
    height: 200px;
    margin: 15px;
    text-align: center;
    font-size: 26px;
    border-radius: 5px;
    /*box-shadow: 5px 10px #888888;*/
   
  }

  .ele4{
    background-color: #61da9994;
    width: 500px;
    height: 200px;
    margin: 15px;
    text-align: center;
    font-size: 26px;
    border-radius: 5px;
    /*box-shadow: 5px 10px #888888;*/
 
  }

  .ele5{
    background-color: #33a2ff54;
    width: 500px;
    height: 200px;
    margin: 15px;
    text-align: center;
    font-size: 26px;
    border-radius: 5px;
    /*box-shadow: 5px 10px #888888;*/
  
  }

  .ele6{
    background-color: #ff334654 ;
    width: 500px;
    height: 200px;
    margin: 15px;
    text-align: center;
    font-size: 26px;
    border-radius: 5px;
   /* box-shadow: 5px 10px #888888;*/
   
  }

  .ele7{
    background-color: #61da9994;
    width: 500px;
    height: 200px;
    margin: 15px;
    text-align: center;
    font-size: 26px;
    border-radius: 5px;
    /*box-shadow: 5px 10px #888888;*/    
  }

.ele8   {
    background-color: #ff883354;
    width: 500px;
    height: 200px;
    margin: 15px;
    text-align: center;
    font-size: 26px;
    border-radius: 5px;
    /*box-shadow: 5px 10px #888888;*/
}

.alert-box {
	background-color: #fffbcc;
	color: #777;
	font-size: 14px;
	line-height: 23px;
	padding: 13px 16px;
    text-align:center;
    border-radius: 5px;
	font-family:Arial, Helvetica, sans-serif;
}
.alert-box .badge {
	background-color: #f58f2a;
	border-radius: 3px;
	color: #fff;
	margin-left: 4px;
	margin-right: 4px;
	padding: 3px 5px 3px 4px;
	font-weight:bold;
	text-transform: uppercase;
}
#addemp{
    margin-left: 300px;
    background-color: #eb8024;
}
.navbar-form .input-group>.form-control {
    width: 100%;
    border: 1px solid #ccc;
}

.techbrise {
    margin-left: -70px;
}

#topbar {
    position: fixed;
    top: -60px;
    display: block;
    z-index: 99999;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    background-color: #33A2FF;
    color: #fff;
    font-size: 25px;
    text-align: left;
    box-shadow: 0 8px 6px -6px black;
    transition: top 1s;
    margin-top: 66px;
    line-height: 10px;
    left: 260px;
}

 #toggleTop {
    display: none;
} 

#showTop {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 30px;
    display: block;
    padding: 10px;
    background-color: #000000;
    color: #fff;
}

 #hideTop {
    float: right;
} 

#toggleTop:checked + #topbar {
    transition: top 1s;
    top:0px;
}  

.ele1{
    color:#F0B27A;  
}
.salele{
   color:#fffbcc;
}
.navbar-default .brand {
    float: left;
    padding: 24px 35px;
    background-color: #fff;
}

.col-md-3	{
	margin-right: 5%;
}

.card {
    position:absolute;
    width:300px;
    min-height:350px;
    background:#fff;
    box-shadow:0 20px 50px rgba(0,0,0,.1);
    border-radius:10px;
    transition:0.5s;
}
.card:hover {
    box-shadow:0 30px 70px rgba(0,0,0,.2);
}
.card .box {
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    width:100%;
}
.card .box .img {
    width:120px;
    height:120px;
    margin:0 auto;
    border-radius:50%;
    overflow:hidden;
}
.card .box .img img {
    width:100%;
    height:100%;
}
.card .box h2 {
    font-size:20px;
    color:#262626;
    margin:20px auto;
}
.card .box h2 span {
    font-size:14px;
    background:#e91e63;
    color:#fff;
    display:inline-block;
    padding:4px 10px;
    border-radius:15px;
}
.card .box p {
    color:#262626;
}
.card .box span {
    display:inline-flex;
}
.card .box ul {
    margin:0;
    padding:0;
}
.card .box ul li {
    list-style:none;
    float:left;
}
.card .box ul li a {
    display:block;
    color:#aaa;
    margin:0 10px;
    font-size:20px;
    transition:0.5s;
    text-align:center;
}
.card .box ul li:hover a {
    color:#e91e63;
    transform:rotateY(360deg);
}
#img-adjust{
  margin-right:-100px;
}

#topbar marquee {
    padding: 4px;
    font-size: 20px;
}
.navbar-btns    {
    display: block;
}
.navbar-btns  ul  {
    display: inline-block;
    list-style-type: none;
}
footer {
    position: relative;
    bottom: 0;
    right: 0;
    padding-top: 15px;
    padding-bottom: 10px;
    border-top: 1px solid;
    margin-top: 10px;
    left: 100px;
}
div#active-side {
    background-color: #333333a3;
    margin-left: 15px;
    border-radius: 3px;
    margin-top: 25px;
    color: #fff;
    height: 50px;
    font-size: 20px;
}
div#inactive-side {
    background-color: #333333a3;
    margin-left: 15px;
    border-radius: 3px;
    margin-top: 25px;
    color: #fff;
    height: 50px;
    font-size: 20px;
}
#span-side  {
    position: relative;
    top: -10px;
}
div#view-all {
    margin-top: 45px;
}
.Emp-heading    {
    color: #616161;
}
button.btn.btn-succes {
    color: #fff;
    background-color: #eb8023;
    border-color: #eb8023;
    font-weight: 600;
}
.main {
    margin-top: 25px;
}
div#view-all-Att {
    margin-top: 20px;
}
div#pending-leaves {
    background-color: #333333a3;
    margin-left: 35px;
    border-radius: 3px;
    margin-top: 25px;
    color: #fff;
    height: 50px;
    font-size: 20px;
}
div#month-name {
    background-color: #fff;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
    color: #000;
}
div#view-all-sal {
    margin-top: 120px;
}
div#admin-dash {
    width: 100% !important;
    left: 110px !important;
}

img.techbrise {
    width: 26%;
}