.col-md-12.col-md-offset-2  {
    top: 50px;

}
.row    {
    margin-top: 20px;
}
.input-field.col.s12 label {
    text-align: center;
    width: 25%;
    font-weight: bold;
}
.input-field.col.s12 input {
    height: 36px;
    width: 50%;
    padding-left: 15px;
   
}

.input-field.col.s12 {
    text-align: center;
}

button.btn.btn-custom.right {
    margin: 5px;
    width: 120px;
    margin: 5px;
    color: #fff;
    font-size: initial;
    background-image: linear-gradient(to right, #eb8024, #eb8024, #eb8024, #eb8024);
}
input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
    -webkit-appearance: menulist;
}
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

td {
    width: 15%;
    height: 60px;
    text-align: center;
}

th {
    text-align: center;
}

tr:hover {
    background-color: #f5f5f5;
}

table, td, th {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

thead tr th {
    height: 45px;
    color: #292929;
    text-transform: uppercase;
}

.alert-danger{
    margin-top: 1000000px;
    margin-left: 10000000px;
}