<app-emp-dashboard></app-emp-dashboard>
<div class="col-md-12 col-md-offset-2">
  <!-- Default form register -->
<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Sign up</p>

    <div class="form-row mb-4">
        <div class="col">
            <!-- First name -->
            <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
        </div>
        <div class="col">
            <!-- Last name -->
            <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
        </div>
    </div>

    <!-- E-mail -->
    <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">

    <!-- Sign up button -->
    <button class="btn btn-info my-4 btn-block" type="submit">Sign in</button>

</form>
<!-- Default form register -->

  <div class="col s12">
    <div class="card">
      <div class="card-content white-text">
        <div class="row">
          <div class="col s5">
            <form #leaveForm="ngForm" (ngSubmit)="onSubmit(leaveForm)">              
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="leaveService.selectedLeave._id">
              <div class="row">
                <div class="input-field col s12">
                    <label>From Date :</label>
                  <input type="date" name="fromdate" #name="ngModel" [(ngModel)]="leaveService.selectedLeave.fromdate" placeholder="fromdate">
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                    <label>To Date:</label>
                  <input type="date" name="todate" #name="ngModel" [(ngModel)]="leaveService.selectedLeave.todate" placeholder="todate">
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                    <label>Leave Reason:</label>
                  <input type="text" name="leavereason" #name="ngModel" [(ngModel)]="leaveService.selectedLeave.leavereason" placeholder="Leave Reason">
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <button class="btn btn-custom right" type="button" (click)="resetForm(leaveForm)">Reset</button>
                  <button class="btn btn-custom right" type="submit"  >Apply Leave</button>
                </div>
              </div>
              
            </form>
          </div>
          </div>
          <div class="change1">
          <div class="col s7">
              <table class="responsive-table highlight">
                  <thead>
                    <tr>
                      <th>Employee Name</th>
                      <th>Email</th>
                      <th>From Date</th>
                      <th>To Date</th>
                      <th>Leave Reason</th>
                      <th>Leave Count</th>
                      <th>Status</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tr *ngFor="let leave of leaveService.leaves">
                    <td>{{leave.empname}}</td>
                    <td>{{leave.leavetype}}</td>
                    <td>{{leave.fromdate}}</td>
                    <td>{{leave.todate}}</td>
                    <td>{{leave.leavereason}}</td>
                     <td>{{leave.leavecount}}</td>
                    <td>{{leave.status}}</td>
                  </tr>
                </table>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>