.row    {
    margin-top: 20px;
}
.input-field.col.s12 label {
    text-align: center;
    width: 25%;
    font-weight: bold;
}
.input-field.col.s12 input {
    height: 36px;
    width: 50%;
    padding-left: 15px;
}

.input-field.col.s12 {
    text-align: center;
}
button.btn.btn-custom.right {
    margin: 5px;
    width: 120px;
    margin: 5px;
    color: #fff;
    font-size: initial;
    background-image: linear-gradient(to right, #eb8024, #eb8024, #eb8024, #eb8024);
}
input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
    -webkit-appearance: menulist;
}
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
tr {
    border-bottom: 2px solid #fff;
    background-color: #cccccc54;
    text-shadow: 2px 2px 4px #0000002b;
}
td {
    width: 15%;
    height: 45px;
    text-align: center;
}
th {
    text-align: center;
}