<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content white-text">
        <div class="row">
          <div class="col s5">
            <form #leaveForm="ngForm" (ngSubmit)="onSubmit(leaveForm)">
              
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="leaveService.selectedLeave._id">
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="empname" #name="ngModel" [(ngModel)]="leaveService.selectedLeave.empname" placeholder="Enter full name" required>
                  <label>Employee Name :
                    <label class="red-text">*</label>
                  </label>
                </div>
              </div>
            <!--  <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="email" #name="ngModel" [(ngModel)]="leaveService.selectedLeave.email" placeholder="Eg:johndoe@gmail.com" >
                <label>  Email:</label>
                </div>
             </div>-->
            

              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="leavetype" #name="ngModel" [(ngModel)]="leaveService.selectedLeave.leavetype" placeholder="leave Type">
                  <label>Leave Type</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="fromdate" #name="ngModel" [(ngModel)]="leaveService.selectedLeave.fromdate" placeholder="fromdate">
                  <label>From Date :</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="todate" #name="ngModel" [(ngModel)]="leaveService.selectedLeave.todate" placeholder="todate">
                  <label>To Date:</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="leavereason" #name="ngModel" [(ngModel)]="leaveService.selectedLeave.leavereason" placeholder="Leave Reason">
                  <label>Leave Reason:</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <button class="btn btn-custom right" type="button" (click)="resetForm(leaveForm)">Reset</button>
                  <button class="btn btn-custom right" type="submit" [disabled]="!leaveForm.valid">Apply Leave</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col s7">
              <table class="responsive-table highlight">
                  <thead>
                    <tr>
                      <th>Employee Name</th>
                      <!--<th>Email</th>-->
                      <th>Leave Type</th>
                      <th>From Date</th>
                      <th>To Date</th>
                      <th>Leave Reason</th>
                      <th>Status</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tr *ngFor="let leave of leaveService.leaves">
                    <td>{{leave.empname}}</td>
                   <!-- <td>{{leave.email}}</td>-->
                    <td>{{leave.leavetype}}</td>
                    <td>{{leave.fromdate}}</td>
                    <td>{{leave.todate}}</td>
                    <td>{{leave.leavereason}}</td>
                   <!--<td>
                        <a class="action-btn" (click)="onEdit(emp)">
                          <i class="material-icons">edit</i>
                        </a>
                        <a class="action-btn" (click)="onDelete(emp._id,employeeForm)">
                          <i class="material-icons">delete</i>
                        </a>
                      </td>-->
                  </tr>
                </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>