<app-main-dashboard></app-main-dashboard>
    <div class="col-lg-12 col-md-6 col-sm-2 col-md-offset-1">
        <div class="col s12">
          <div class="card">
            <div class="card-content white-text">
              <div class="row">
                <div class="col-md-12">
                  <!-- Default form register -->
                  <form class="text-center border border-light p-5" #holidayForm="ngForm" (ngSubmit)="onSubmit(holidayForm)">
                      <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="holidayService.selectedHoliday._id">
                      <p class="h4 mb-4">Add Holiday</p>

                      <div class="form-row mb-4">
                          <div class="col">
                              <!-- From date -->
                              <input type="date" id="defaultRegisterFormFirstName" class="form-control" name="fromdate" #name="ngModel" [(ngModel)]="holidayService.selectedHoliday.fromdate" required>
                          </div>
                          <div class="col">
                              <!-- To date -->
                              <input type="date" id="defaultRegisterFormLastName" class="form-control" name="todate" #name="ngModel" [(ngModel)]="holidayService.selectedHoliday.todate">
                          </div>
                      </div>
                      <div class="form-row mb-4">
                          <div class="col">
                              <!-- Holiday name -->
                              <input type="text" id="defaultRegisterFormholidayName" class="form-control" name="holidayname" #name="ngModel" [(ngModel)]="holidayService.selectedHoliday.holidayname" placeholder="holiday name">
                          </div>
                          <div class="col">
                              <!-- Duration -->
                              <input type="text" id="defaultRegisterFormDuration" class="form-control" name="duration" #name="ngModel" [(ngModel)]="holidayService.selectedHoliday.duration" placeholder="Enter the holiday duration">
                          </div>
                      </div>
                      <!-- Sign up button -->
                      <button class="btn btn-custom right" type="button" (click)="resetForm(holidayForm)">Reset</button>
                        <button class="btn btn-custom right" type="submit" [disabled]="!holidayForm.valid">Submit</button>

                  </form>
                  <!-- Default form register -->
                 
                </div>
                <div class="col s7">
                    <table class="responsive-table highlight">
                        <thead>
                          <tr>
                            <th>From Date</th>
                            <th>To Date</th>
                            <th>Holiday Name</th>
                            <th>Holiday Duration</th>
                    
                          </tr>
                        </thead>
                        <tr *ngFor="let holiday of holidayService.holidays">
                          <td>{{holiday.fromdate}}</td>
                          <td>{{holiday.todate}}</td>
                          <td>{{holiday.holidayname}}</td>
                          <td>{{holiday.duration}}</td>
                        
                          <td>
                              <a class="action-btn" (click)="onEdit(holiday)">
                                <i class="material-icons">edit</i>
                              </a>
                              <a class="action-btn" (click)="onDelete(holiday._id,holidayForm)">
                                <i class="material-icons">delete</i>
                              </a>
                            </td>
                        </tr>
                      </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      
      </div>