
<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content white-text">
        <div class="row">
          <div class="col s5">
            <form #holidayForm="ngForm" (ngSubmit)="onSubmit(holidayForm)">
              
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="holidayService.selectedHoliday._id">
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="fromdate" #name="ngModel" [(ngModel)]="holidayService.selectedHoliday.fromdate" placeholder="Enter the From Date" required>
                  <label>From Date:
                    <label class="red-text">*</label>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="todate" #name="ngModel" [(ngModel)]="holidayService.selectedHoliday.todate" placeholder="Enter the two date">
                  <label>To Date:</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="holidayname" #name="ngModel" [(ngModel)]="holidayService.selectedHoliday.holidayname" placeholder="Enter the holiday name">
                  <label>Holiday Name :</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="duration" #name="ngModel" [(ngModel)]="holidayService.selectedHoliday.duration" placeholder="Enter the holiday duration">
                  <label>Holiday Duration:</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <button class="btn btn-custom right" type="button" (click)="resetForm(holidayForm)">Reset</button>
                  <button class="btn btn-custom right" type="submit" [disabled]="!holidayForm.valid">Submit</button>
                </div>
              </div>
  
            </form>
          </div>
          <div class="col s7">
              <table class="responsive-table highlight">
                  <thead>
                    <tr>
                      <th>From Date</th>
                      <th>To Date</th>
                      <th>Holiday Name</th>
                      <th>Holiday Duration</th>
              
                    </tr>
                  </thead>
                  <tr *ngFor="let holiday of holidayService.holidays">
                    <td>{{holiday.fromdate}}</td>
                    <td>{{holiday.todate}}</td>
                    <td>{{holiday.holidayname}}</td>
                    <td>{{holiday.duration}}</td>
                  
                    <td>
                        <a class="action-btn" (click)="onEdit(holiday)">
                          <i class="material-icons">edit</i>
                        </a>
                        <a class="action-btn" (click)="onDelete(holiday._id,holidayForm)">
                          <i class="material-icons">delete</i>
                        </a>
                      </td>
                  </tr>
                </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

