<!doctype html>
<html lang="en">

<head>
	<title>Employe Dashboard</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.min.css">
  <!--<link rel="stylesheet" href="assets/vendor/linearicons/style.css">-->
  <link rel="stylesheet" href="/assets/vendor/linearicons/style.css">
	<link rel="stylesheet" href="/assets/vendor/chartist/css/chartist-custom.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="/assets/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="/assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon.png">
</head>
	<style>
		.navbar-default .brand {
    float: left;
    padding: 24px 35px;
    background-color: #fff;
}

.col-md-3	{
	margin-right: 5%;
}


.card {
    position:absolute;
    width:300px;
    min-height:350px;
    background:#fff;
    box-shadow:0 20px 50px rgba(0,0,0,.1);
    border-radius:10px;
    transition:0.5s;
}
.card:hover {
    box-shadow:0 30px 70px rgba(0,0,0,.2);
}
.card .box {
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    width:100%;
}
.card .box .img {
    width:120px;
    height:120px;
    margin:0 auto;
    border-radius:50%;
    overflow:hidden;
}
.card .box .img img {
    width:100%;
    height:100%;
}
.card .box h2 {
    font-size:20px;
    color:#262626;
    margin:20px auto;
}
.card .box h2 span {
    font-size:14px;
    background:#e91e63;
    color:#fff;
    display:inline-block;
    padding:4px 10px;
    border-radius:15px;
}
.card .box p {
    color:#262626;
}
.card .box span {
    display:inline-flex;
}
.card .box ul {
    margin:0;
    padding:0;
}
.card .box ul li {
    list-style:none;
    float:left;
}
.card .box ul li a {
    display:block;
    color:#aaa;
    margin:0 10px;
    font-size:20px;
    transition:0.5s;
    text-align:center;
}
.card .box ul li:hover a {
    color:#e91e63;
    transform:rotateY(360deg);
}
#img-adjust{
  margin-right:-100px;
}

.logout{
  position:absolute;
  margin-right:100px;
}

	</style>
<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
		<!--	<div class="brand">
				<a href="index.html"><img src="assets/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>
			</div>-->
			<div class="container-fluid">
				<!--<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>-->
			<img src="https://media.licdn.com/dms/image/C4D0BAQF_b_0TP2Bj1Q/company-logo_200_200/0?e=2159024400&v=beta&t=4oRuFhXESdwXXcD_riSoNZgnb_ZVUaKewz5o8LY0W_A" height="100px" width="100px" class="techbrise"/>
				<form class="navbar-form navbar-left">
					<div class="input-group">
						<input type="text" value="" class="form-control" placeholder="Search dashboard...">
						<span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
					</div>
				</form>
				

 <a  [routerLink]="['/manageemployees']" class="btn btn-secondary" id="addemp"><span> Add Employee </span></a>
					   
					   <input type="button" value="Logout" class="logout" (click)="onLogoutClick()"/>
					   
	
			<!--	<div class="navbar-btn navbar-btn-right">
					<a class="btn btn-success update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
				</div>-->
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
						<!--	<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
								<i class="lnr lnr-alarm"></i>
								<span class="badge bg-danger">5</span>
							</a>-->
						<!--	<ul class="dropdown-menu notifications">
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>
								<li><a href="#" class="more">See all notifications</a></li>
							</ul>-->
						</li>
					<!--	<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#">Basic Use</a></li>
								<li><a href="#">Working With Data</a></li>
								<li><a href="#">Security</a></li>
								<li><a href="#">Troubleshooting</a></li>
							</ul>
						</li>-->
						<li class="dropdown">
						<!--	<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="assets/img/user.png" class="img-circle" alt="Avatar"> <span>Samuel</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>-->
							<ul class="dropdown-menu">
								<li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
								<li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
								<li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
								<li><a href="#"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
							</ul>
            </li>
           
						<!-- <li>
							<a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
						</li> -->
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->


<!-- Label to Show Notification bar -->

<!-- The checkbox -->
<input type="checkbox" id="toggleTop" name="toggleTop" value="toggleTop" checked="checked">
<!-- The Notification bar container -->
<div id="topbar">
	<div class="col-md-4">Announcements:</div>
	<div class="col-md-6"><marquee>Here The Announcements will be flashed</marquee></div>
    <!-- Label to Hide Notification bar -->
   <!-- <label for="toggleTop" id="hideTop">X</label>-->
</div>

		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a  [routerLink]="['/admindashboard']" href="index.html" class="active"><i class="lnr lnr-home"></i> <span>Admin Dashboard</span></a></li>

					<!--	<li><a href="#" class=""><i class="lnr lnr-code"></i> <span>Manage Employees</span></a></li>-->
						<li><a  [routerLink]="['/']">  <i class="lnr lnr-code"></i><span> Attendance Report  </span></a></li>
						<li><a  [routerLink]="['/adminleave']">  <i class="lnr lnr-code"></i><span> Manage Leaves </span></a></li>
						<li><a  [routerLink]="['/']">  <i class="lnr lnr-code"></i><span> Salary Report </span></a></li>
						<li><a  [routerLink]="['/']">  <i class="lnr lnr-code"></i><span>Pending Leave Request </span></a></li>
						<li><a  [routerLink]="">  <i class="lnr lnr-code"></i><span> Add Events  </span></a></li>
						<li><a  [routerLink]="">  <i class="lnr lnr-code"></i><span> Add Holidays
	 </span></a></li>
	 <li><a  [routerLink]="">  <i class="lnr lnr-code"></i><span> Add Announcements </span></a></li>

           <!-- <li><a href="#" class=""><i class="lnr lnr-code"></i> <span>Logout</span></a></li>-->

           
						<!--<li><a href="charts.html" class=""><i class="lnr lnr-chart-bars"></i> <span>HR Profile</span></a></li>-->
						<!--<li><a href="panels.html" class=""><i class="lnr lnr-cog"></i> <span>Empty</span></a></li>-->
           <!-- <li><a href="notifications.html" class=""><i class="lnr lnr-alarm"></i> <span>Notifications</span></a></li>-->
           <!-- <li class="nav-item " >
                <a class="nav-link" (click)="onLogoutClick()"  >LogOut<span class="sr-only"></span></a>
			  </li>-->
		<!--	 <li><a (click)="onLogoutClick()" href="#">LogOut</a></li>-->
						<li>
							<!--<a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Empty</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>-->
							<div id="subPages" class="collapse ">
								<ul class="nav">
									<li><a href="page-profile.html" class="">Profile</a></li>
									<li><a href="page-login.html" class="">Login</a></li>
									<li><a href="page-lockscreen.html" class="">Lockscreen</a></li>
								</ul>
							</div>
						</li>
						<!-- <li><a href="tables.html" class=""><i class="lnr lnr-dice"></i> <span>Tables</span></a></li> -->
						<!--<li><a href="typography.html" class=""><i class="lnr lnr-text-format"></i> <span>Typography</span></a></li>
						<li><a href="icons.html" class=""><i class="lnr lnr-linearicons"></i> <span>Icons</span></a></li>-->
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
	

		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<div class="col-md-3">
				<!--	<div class="card">-->
						<div class="box">
						<!--	<strong style="font-size: 20px;">Birthday Buddy</strong>-->
						    <!--<div class="img">
						        <img src="https://www.planwallpaper.com/static/images/cool-wallpaper-5_G6Qe1wU.jpg">
						    </div>-->
						   <!-- <h2>Prakash Prajapati<br><span>Web Graphic Designer</span></h2>
						    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						            tempor incididunt ut labore et.</p>-->
						</div>
					<!--</div>-->
					</div>
					<div class="col-md-3">
					<!--<div class="card">-->
						<!--<div class="box">-->
							<!--<strong style="font-size: 20px;">Birthday Buddy</strong>-->
						   <!-- <div class="img">
						        <img src="https://www.planwallpaper.com/static/images/cool-wallpaper-5_G6Qe1wU.jpg">
						    </div>-->
						  <!--  <h2>Prakash Prajapati<br><span>Web Graphic Designer</span></h2>
						    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						            tempor incididunt ut labore et.</p>-->
						<!--</div>-->
					<!--</div>-->
					</div>
					<div class="col-md-3">
					

					</div>
					
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		<!--	<marquee height="100px">
					HAPPY BIRTHDAY!!	
				 </marquee>-->


		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
		<!--	<div class="container-fluid">
				<p class="copyright">&copy; 2017 <a href="https://www.themeineed.com" target="_blank">Theme I Need</a>. All Rights Reserved.</p>
			</div>-->
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="/assets/vendor/jquery/jquery.min.js"></script>
	<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="/assets/vendor/chartist/js/chartist.min.js"></script>
	<script src="/assets/scripts/klorofil-common.js"></script>
	<script>
	$(function() {
		var data, options;

		// headline charts
		data = {
			labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
			series: [
				[23, 29, 24, 40, 25, 24, 35],
				[14, 25, 18, 34, 29, 38, 44],
			]
		};

		options = {
			height: 300,
			showArea: true,
			showLine: false,
			showPoint: false,
			fullWidth: true,
			axisX: {
				showGrid: false
			},
			lineSmooth: false,
		};

		new Chartist.Line('#headline-chart', data, options);


		// visits trend charts
		data = {
			labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
			series: [{
				name: 'series-real',
				data: [200, 380, 350, 320, 410, 450, 570, 400, 555, 620, 750, 900],
			}, {
				name: 'series-projection',
				data: [240, 350, 360, 380, 400, 450, 480, 523, 555, 600, 700, 800],
			}]
		};

		options = {
			fullWidth: true,
			lineSmooth: false,
			height: "270px",
			low: 0,
			high: 'auto',
			series: {
				'series-projection': {
					showArea: true,
					showPoint: false,
					showLine: false
				},
			},
			axisX: {
				showGrid: false,

			},
			axisY: {
				showGrid: false,
				onlyInteger: true,
				offset: 0,
			},
			chartPadding: {
				left: 20,
				right: 20
			}
		};

		new Chartist.Line('#visits-trends-chart', data, options);


		// visits chart
		data = {
			labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
			series: [
				[6384, 6342, 5437, 2764, 3958, 5068, 7654]
			]
		};

		options = {
			height: 300,
			axisX: {
				showGrid: false
			},
		};

		new Chartist.Bar('#visits-chart', data, options);


		// real-time pie chart
		var sysLoad = $('#system-load').easyPieChart({
			size: 130,
			barColor: function(percent) {
				return "rgb(" + Math.round(200 * percent / 100) + ", " + Math.round(200 * (1.1 - percent / 100)) + ", 0)";
			},
			trackColor: 'rgba(245, 245, 245, 0.8)',
			scaleColor: false,
			lineWidth: 5,
			lineCap: "square",
			animate: 800
		});

		var updateInterval = 3000; // in milliseconds

		setInterval(function() {
			var randomVal;
			randomVal = getRandomInt(0, 100);

			sysLoad.data('easyPieChart').update(randomVal);
			sysLoad.find('.percent').text(randomVal);
		}, updateInterval);

		function getRandomInt(min, max) {
			return Math.floor(Math.random() * (max - min + 1)) + min;
		}

	});
	</script>
</body>

</html>

<div class="change">
<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content white-text">
        <div class="row">
          <div class="col s5">
            <form #employeeForm="ngForm" (submit)="onSubmit(employeeForm)">
              
              <input type="hidden" name="_id" #_id="ngModel"  [(ngModel)]="employeeService.selectedEmployee._id">
              <div class="row">
                <div class="input-field col s12">
                    <label>Name :
                        <!--<label class="red-text">*</label>-->
                    </label>
                  <input type="text" name="name"  [(ngModel)]="name"  placeholder="Enter full name" required>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                    <label>Email :</label>
                  <input type="text" name="email" [(ngModel)]="email" placeholder="Eg : johndoe@gmail.com">
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                    <label>Username :</label>
                  <input type="text" name="username"   [(ngModel)]="username" placeholder="username">
                 </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                    <label>Password :</label>
                  <input type="password" name="password"   [(ngModel)]="password"  placeholder="password">
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s12">
                      <label>Role Assigned:</label>
                    <input type="text" name="role"   [(ngModel)]="role" placeholder="Eg:Admin">
                   </div>
                </div>
          <!--   <div class="form-group">
                <div class="maxl">
                    <label class="radio inline"> 
                        <input type="radio" name="gender" value="male" [(ngModel)]="gender"  checked>
                        <span> Male </span> 
                    </label>
                    <label class="radio inline"> 
                        <input type="radio" name="gender" value="female" [(ngModel)]="gender">
                        <span>Female </span> 
                    </label>
                </div>
            </div>
          -->
              <div class="row">
                <div class="input-field col s12">
                  <button class="btn btn-custom right" type="button" (click)="resetForm(employeeForm)">Reset</button>
				  <button class="btn btn-custom right" type="submit" >Submit</button>
				  <a class="action-btn" [routerLink]="['/leaverecord']" (click)="onView(adminleave)">
                    <i class="material-icons">View Details</i>
                  </a>
                </div>
              </div>
            </form>
            </div>
            <div class="change1">
          </div>
          <div class="col s7">
              <table class="responsive-table highlight">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Username</th>
                      <th>Role</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tr *ngFor="let emp of employeeService.employees">
                    <td>{{emp.name}}</td>
                    <td>{{emp.email}}</td>
                    <td>{{emp.username}}</td>
                    <td>{{emp.role}}</td>
                    <td>
                       <a class="action-btn" (click)="onEdit(emp)">
                          <b class="material-icons">Edit</b>
                        </a>
                        <a class="action-btn" (click)="onDelete(emp._id,employeeForm)">
                          <b class="material-icons">Delete</b>
                        </a>
                      </td>
                  </tr>
                </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

</div>
<!--

<h2 class="page-header">Register</h2>
<form (submit)="onSubmit()">
<div class="form-group">
<label>Name</label>
<input type="text" [(ngModel)]="name" name="name" class="form-control">
</div>
<div class="form-group">
    <label>Username</label>
    <input type="text"  [(ngModel)]="username" name="username" class="form-control">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text"  [(ngModel)]="email" name="email" class="form-control">
        </div>


        <div class="form-group">
            <label>Password</label>
            <input type="text"  [(ngModel)]="password" name="password" class="form-control">
            </div>

<input type="submit" class="btn btn-primary" value="Submit">
          

          -->